<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WeConnect</title>

    <!-- Bootstrap CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css', _external=True) }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css', _external=True) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css', _external=True) }}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.3/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body>
    <div class="container-fluid">
        <h1 class="text-center">
            <em>WeConnect API</em>
        </h1>
        <div class="row">
                <div class="jumbotron">
                    <div class="container">
                        <img src="{{ url_for('static', filename='img/api.png') }}" class="img pull-left" alt="">
                        <p class="text-info">WeConnect provides a platform that brings businesses and individuals together. This platform
                            creates awareness for businesses and gives the users the ability to write reviews about the
                            businesses they have interacted with.</p>
                    </div>
                </div>
            </div>
        <div id="route-panel" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Access Our API Through The Following Routes</h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-checked table-hovered">
                        <tr>
                            <th>Functionality</th>
                            <th>Method</th>
                            <th>Parameters</th>
                            <th>Routes</th>
                        </tr>
                        <tr>
                            <td>Creates a user account</td>
                            <td>POST</td>
                            <td class="text-primary">username, password, email</td>
                            <td class="text-danger">{{ context.register_user }}</td>
                        </tr>
                        <tr>
                            <td>Login User</td>
                            <td>POST</td>
                            <td class="text-primary">username, password</td>
                            <td class="text-danger">{{ context.login }}</td>
                        </tr>
                        <tr>
                            <td>Logs out a user</td>
                            <td>POST</td>
                            <td class="text-primary">username</td>
                            <td class="text-danger">{{ context.logout_user }}</td>
                        </tr>
                        <tr>
                            <td>Password Reset</td>
                            <td>POST</td>
                            <td class="text-primary">username, new_password</td>
                            <td class="text-danger">{{ context.reset_password }}</td>
                        </tr>
                        <tr>
                            <td>Register a business</td>
                            <td>POST</td>
                            <td class="text-primary">name, location, category, description</td>
                            <td class="text-danger">{{ context.register_business }}</td>
                        </tr>
                        <tr>
                            <td>Update a business</td>
                            <td>PUT</td>
                            <td class="text-primary">businessId, name, location, category,description</td>
                            <td class="text-danger">{{ context.update_business }}</td>
                        </tr>
                        <tr>
                            <td>Retrieve all Businesses</td>
                            <td>GET</td>
                            <td class="text-primary"></td>
                            <td class="text-danger">{{ context.retrieve_all_businesses }}</td>
                        </tr>
                        <tr>
                            <td>Remove a business</td>
                            <td>DELETE</td>
                            <td class="text-primary">businessId</td>
                            <td class="text-danger">{{ context.delete_business }}</td>
                        </tr>
                        <tr>
                            <td>Get a Business</td>
                            <td>GET</td>
                            <td class="text-primary">businessId</td>
                            <td class="text-danger">{{ context.retrieve_a_business }}</td>
                        </tr>
                        <tr>
                            <td>Add a Review for business</td>
                            <td>POST</td>
                            <td class="text-primary">review</td>
                            <td class="text-danger">{{ context.review_a_business }}</td>
                        </tr>
                        <tr>
                            <td>Get all Reviews for business</td>
                            <td>GET</td>
                            <td class="text-primary">businessId</td>
                            <td class="text-danger">{{ context.review_a_business }}</td>
                        </tr>
                    </table>
                </div>
                <div class="text-center">
                    <a href="#">WeConnect, Improving your business!</a>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer_wrapper">
            <p class="text text-center">
                <small>Developed by Asiimwe Benard</small>
            </p>
        </div>
    </footer>
    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js', _external=True) }}"></script>
    <!-- Bootstrap JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js', _external=True) }}"></script>
</body>

</html>